.list-1 {
  width: 100px;
  background-color: #ff8da1;
}

.list-2 {
  width: 200px;
  background-color: #ff5a77;
}

.list-3 {
  width: 300px;
  background-color: #ff274d;
}

.list-4 {
  width: 400px;
  background-color: #f3002a;
}

.list-5 {
  width: 500px;
  background-color: #c00022;
}