.text {
  font-family: "Arial";
  font-family: Arial;
  font-family: ARIAL;
  font-family: arial;
  font-family: 5;
  font-family: 15;
  font-family: "I am a ravindra Gedhar";
  font-family: "ravindra";
  font-family: ul0n4d1;
}