.text {
  width: 100px;
  width: 14;
  width: 14;
  width: 13;
  width: 13;
  width: 13;
  width: 14;
  width: 10px;
  width: 45px;
  width: 500%;
  width: 200%;
  width: false;
  width: true;
  width: 0.503865718;
  width: 9;
  width: "px";
  width: false;
  width: true;
}